body {

     background-image: url("../images/batman-background.jpg");

    /*background: url(images/bg.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    user-select: none;

}

body * {
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    
}

#menu{
    width: 25vw;
    height: 100vh;
    background-color: black;

    border-right: 2px solid white;
    left: 0;
    top: 0;
    position: absolute;

    font-size: 250%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
#background{  
    background-image: url("../images/bg_logo.png");
    background-repeat: no-repeat;
    background-position: bottom right;

    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
}
#startScreen{
    position: absolute;
    width: 70vw; height: 70vh;
    z-index: 3;
    top: 15vh; left: 15vw;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 250%;
}

#overlay{
    background-color: rgba(0,0,0,0.8);
    top: 0; left: 0;
    position: absolute;
    z-index: 2;
    width: 100vw; height: 100vh;
}
#button{
    width: 400px; height: 80px;
    background-color: grey;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    color: white;
    margin-left: 470px;
    font-size: 150%;
}

#score {
    text-align: center;
    font-size: 250%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    color: white;
    
}
#clicksPerSecond {
    text-align: center;
    font-size: 250%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    color: white;
}

cookie {
    background-image: url("../images/batman-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    left: 28vw;
    top: 2vh;
    position: absolute;
}

cookie:active{
    width:410px;
    height:410px;
}

