body {

     background-image: url("../Images/batman-background.jpg");

    /*background: url(images/bg.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body * {
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    
}

#menu{
    width: 25vw;
    height: 100vh;
    background-color: black;

    border-right: 2px solid white;
    left: 0;
    top: 0;
    position: absolute;

    font-size: 250%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;


}

#score {
    text-align: center;
    font-size: 250%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    
}
#clicksPerSecond {
    text-align: center;
    font-size: 250%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    
}

cookie {
    background-image: url("../Images/batman-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    left: 24vw;
    top: 2vh;
    position: absolute;
}

cookie:active{
    width:410px;
    height:410px;
}

#score{
    margin-top: 10px;
    text-align: center;
}

#clicksPerSecond{
    margin-top: 45px;
    text-align: center;
}


.menu{
    height: 100vh;
}